<%- include('partials/header') %>
  <h1>Add new Car</h1>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://cdn.pixabay.com/photo/2014/04/03/10/27/car-310523__340.png" height="130" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form action="/addnewcars" method="POST">
        <input type="text" id="model" class="fadeIn second" name="car_name" placeholder="car name">
        <input type="text" id="fuel_type" class="fadeIn second" name="fuel_type" placeholder="fuel type">
        <input type="text" id="capacity" class="fadeIn third" name="capacity" placeholder="Capacity">
        <input type="number" id="rental_price" class="fadeIn second" name="rental_price" placeholder="Rent">
        <input type="text" id="available" class="fadeIn second" name="available" placeholder="available">
        <input type="file" name="car_img" id="car_img">

        <input type="submit" class="fadeIn fourth" value="Add Car">
      </form>



    </div>
  </div>
<a role="button" class="btn btn-primary" href="/adminDash">Dashboard</a>
<%- include('partials/footer') %>
